@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
  --app-width: 1024px;
  --background-color: #eef2f9;
  --gray: #d2d7e0;
  --light-gray: #f6f8fc;
  --dark-gray: #b7bec7;
  --accent-color: #888fdc;
  --primary-color: #c781ff;
  --secondary-color: #ff9985;
  --tertiary-color: #7ed492;
  --box-shadow: 0px 0px 10px 0px #d2d7e0;
}

body {
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
}

.app {
  max-width: var(--app-width);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 20px 0;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.column {
  background-color: var(--light-gray);
  padding: 0 20px 10px 20px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  flex: 1;
  height: 100%;
  border-top: 5px solid var(--gray);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.column-title {
  font-weight: 400;
  text-align: left;
}

.add-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-gray);
  gap: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px auto;
}

.add-toggle:hover {
  color: var(--accent-color);
}

.button-link {
  border: none;
  background: none;
}

.add-form {
  display: flex;
  flex-direction: column;
}

.add-form textarea {
  resize: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.813rem;
}

.add-form textarea:focus {
  outline: none;
}

.button {
  border: none;
}

.button-add {
  background-color: var(--gray);
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
  margin: 10px 0;
}

.priority-options {
  display: flex;
  justify-content: center;
}

.priority-options label {
  width: 80px;
  height: 20px;
  background: var(--gray);
  color: #fff;
  border-radius: 3px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  cursor: pointer;
  margin-bottom: 10px;
}

.task-priority {
  text-transform: capitalize;
}

.delete-icon {
  visibility: hidden;
}

.task:hover .delete-icon {
  visibility: visible;
}

input[type="radio"]:checked + .low-tag {
  background: var(--primary-color);
}

input[type="radio"]:checked + .med-tag {
  background: var(--tertiary-color);
}

input[type="radio"]:checked + .high-tag {
  background: var(--secondary-color);
}

input[type="radio"]:checked, input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}


.tasks-list {
  margin-bottom: 20px;
}

.task {
  background-color: #fff;
  padding: 0 10px 15px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 5px rgb(207 217 234 / 10%);
  min-height: 85px;
  margin: 10px 0;
  cursor: pointer;
  max-width: 288px;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 10px 0;
}

.task-priority {
  background-color: var(--dark-gray);
  color: #fff;
  border-radius: 3px;
  width: 80px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

.task-priority.low-priority {
  background-color: var(--primary-color);
}

.task-priority.med-priority {
  background-color: var(--tertiary-color);
}

.task-priority.high-priority {
  background-color: var(--secondary-color);
}

.task-content {
  word-wrap: break-word;
  font-size: 1rem;
  text-align: left;
}

.user-avatar {
  border-radius: 100%;
}

.search {
  visibility: hidden;
  position: relative;
}

.search input {
  height: 35px;
  border: none;
  padding: 0 20px;
  border-radius: 50px;
  position: relative;
}

.search input:focus {
  outline: none;
}

.btn-search {
  position: absolute;
  right: 0;
  top: 0;
  height: 35px;
  display: flex;
  align-items: center;
  background-color: var(--gray);
  color: #fff;
  justify-content: center;
  width: 35px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  border-radius: 100%;
  border: none;
}




@media (max-width: 600px) {
  .board {
    flex-direction: column;
  }
}
